<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD App</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li> 
            
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'tasks' %}">Tareas Pendientes</a>
            </li>
            <li>
                <a href="{% url 'tasks_completed' %}">Tareas completadas</a>
            </li>
            <li>
                <a href="{% url 'create_task' %}">Crear Tarea</a>
            </li>
            <li>
                <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'signup' %}">Registrarse</a>
            </li><li>
                <a href="{% url 'iniciar_sesion' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>